# Ignore node_modules and dependencies
node_modules
npm-debug.log
yarn-error.log

# Ignore Git files
.git
.gitignore

# Ignore build artifacts and environment files
dist
.env
*.log

# Ignore Docker files
Dockerfile
.dockerignore

# Ignore CI/CD and IDE configs
.github
.vscode
.idea
*.iml
