name: Backend CI/CD

on:
  push:
    branches: [ "dev"]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    defaults:
     run:
          working-directory: Authentication-service


    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0   

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build with Maven
        run: mvn clean package -DskipTests=true

      - name: Cache OWASP Dependency Check data
        uses: actions/cache@v4
        with:
         path: ~/.dependency-check
         key: ${{ runner.os }}-dependency-check


      - name: Run OWASP Dependency Check
        run: |
            mkdir -p Authentication-service/reports
            wget https://github.com/jeremylong/DependencyCheck/releases/download/v10.0.3/dependency-check-10.0.3-release.zip
            unzip dependency-check-10.0.3-release.zip
            ./dependency-check/bin/dependency-check.sh \
            --project "Authentication-service" \
            --scan Authentication-service \
            --format "HTML" \
            --out Authentication-service/reports \
            --enableExperimental

