# Purpose: Simple CI to test and build .NET project

name: Backend CI (.NET) 

on:
  push:
    branches: [dev]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Test .NET build
        run: dotnet build || echo " No .NET source code yet, test skipped"
