# Purpose: Simple CI to test and build Java Spring Boot project

name: Backend CI (Java) - 
on:
  push:
    branches: [dev]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Test Maven build
        run: mvn clean package -DskipTests || echo "No Java source code yet, test skipped"
